<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	 #parse("comm/comm.vm")
	<script type="text/javascript" src="resource/js/login/login.js"></script>
</head>
<body style="overflow:hidden;" oncontextmenu="return false;"> 
    <div>
    	<!-- 登录表单 -->  
	    <form action="login.do" method="post">  
	              用户名：<input name='username' type='text'  value='yangyi' ><br />  
	              密码：<input name='password' type='password'  value='123456'/>  <br />  
	      <input name="submit" type="submit" value="提交" />  
	      <input name="reset" type="reset" value="重置" />  
	    </form>  
   	</div>
		#if(${message} == "authentication-failure")
		<div>
			${SPRING_SECURITY_LAST_EXCEPTION.message}  
    	</div>
		#end
		
		#if(${message} == "logout-success")
		<div>
			登出成功
    	</div>
		#end
		
		#if(${message} == "invalid-session")
		<div>
			Session已失效，请重新登录
    	</div>
		#end
		
		#if(${message} == "expired")
		<div>
			有其他人登录该用户，您已被强制登出，请重新登录
    	</div>
		#end
</body> 
</html>
