<script type="text/javascript" src="resource/comm/jquery/jquery.min.js"></script>
<script type="text/javascript" src="resource/js/comm/ajaxError.js"></script>
<script type="text/javascript" src="resource/js/comm/string.js"></script>