<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
                        http://www.springframework.org/schema/security   
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- 使用自定义的accessDecisionManager -->
	<http auto-config="true" access-decision-manager-ref="accessDecisionManager">
		<!-- 自定义的access-denied-handler -->
		<access-denied-handler ref="defaultAccessDeniedHandler" />
		<!-- <session-management invalid-session-url="/toLogin.do"> <concurrency-control 
			error-if-maximum-exceeded="true" max-sessions="1" expired-url="/toLogin.do" 
			/> </session-management> -->
		<!-- <session-management session-authentication-strategy-ref="concurrentSessionControlStrategy" 
			/> -->
		<!-- 不拦截的请求 -->
		<intercept-url pattern="/toLogin.do" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/queryAllWelcome.do" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/welcomeAjaxRequest.do" access="AUTH_AJAX" />
		<!--仅拦截到manager下面的内容，具备access对应权限的 -->
		<intercept-url pattern="/*" access="AUTH_TO_INDEX" />
		<!-- 登录表单设置 -->
		<!-- login-page:登录页面 -->
		<!-- login-processing-url:自定义的登录提交action名称,需要与登录form中的action保持一致 -->
		<!-- authentication-failure-url：登录失败后跳转的页面 -->
		<!-- default-target-url：登录成功后跳转的页面,如果配置了authentication-success-handler-ref则不生效 -->
		<!-- username-parameter：登录用户名的参数名称,需要与登录form中的input name='username'保持一致 -->
		<!-- password-parameter：登录密码的参数名称,需要与登录form中的input name='password'保持一致 -->
		<!-- authentication-success-handler-ref:自定义登录成功后的Handler -->
		<form-login login-page="/toLogin.do" login-processing-url="/login.do"
			authentication-failure-url="/toLogin.do"
			authentication-success-handler-ref="defaultLoginSuccessHandler"
			username-parameter="username" password-parameter="password" />
		<!-- 登出操作 -->
		<!-- invalidate-session是否销毁Session -->
		<!-- logout-url logout地址 -->
		<!-- logout-success-url logout成功后要跳转的地址 -->
		<logout invalidate-session="false" logout-url="/logout.do"
			logout-success-url="/toLogin.do" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="defaultUserDetailsService">
		</authentication-provider>
	</authentication-manager>
</beans:beans>  