<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	<title>atomikos</title>
	#parse("comm/comm.vm")
	<script type="text/javascript" src="resource/js/atomikos/atomikos.js"></script>
</head>
<body style="background: beige;">
	<div>
		<button onclick="saveOracle();">单独保存ORACLE数据库</button>
    </div>
	<div>
		<button onclick="saveMysql();">单独保存MYSQL数据库</button>
    </div>
	<div>
		<button onclick="saveBoth();">先保存ORACLE，再保存MYSQL，正常保存</button>
    </div>
	<div>
		<button onclick="saveBothWithOracleException();">先保存MYSQL，再保存ORACLE，保存ORACLE的时候异常</button>
    </div>
	<div>
		<button onclick="saveBothWithMysqlException();">先保存ORACLE，再保存MYSQL，保存ORACLE的时候异常</button>
    </div>
</body>
</html>