<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
	#parse("common/common.vm")
    <title>新增任务</title>
	<script>
    $(document).ready(function() {
    	$(".cancel").click(function(){
    		history.go(-1) ;
    	});
    });
</script>
 </head>
  
 <body style="background: beige;" >
  <form action="quartzAddJob.do" method="post">
	<span>新增Trigger</span>
	<hr/>
	<table id="table_report" class="table table-striped table-bordered table-hover">
       <tr>
       		<td>cronExpression</td><td><input type="text" name="cronExpression" value=""/></td>
       </tr>
       <tr>
       		<td>jobClass</td><td><input type="text" name="jobClass" value=""/></td>
       </tr>
       <tr>
       		<td>jobName</td><td><input type="text" name="jobName" value=""/></td>
       </tr>
       <tr>
       		<td>jobGroup</td><td><input type="text" name="jobGroup" value=""/></td>
       </tr>
       <tr>
      		 <td>triggerName</td><td><input type="text" name="triggerName" value=""/></td>
       </tr>
       <tr>
      		 <td>triggerGroupName</td><td><input type="text" name="triggerGroupName" value=""/></td>
       </tr>
       <tr>
       	<td></td>
       	<td>
       		<button type="submit" style="border: 0;background-color: #428bca;">提交</button>
       		<button class="cancel" style="border: 0;background-color: #fff;">返回</button>
       	</td>
        </tr>
	</table>
  </form>
</body>
</html>


