<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	#parse("common/common.vm")
    <title>编辑任务</title>
	<script>
    $(document).ready(function() {
    	$(".cancel").click(function(){
    		history.go(-1) ;
    	});
    });
    </script>
</head>
<body style="background: beige; margin: 300px 600px 200px;" >
  <form action="quartzEdit.do" method="post">
	<input type="hidden" name="oldjobName" value="${pd.jobName}" >
	<input type="hidden" name="oldjobGroup" value="${pd.jobGroup}" >
	<input type="hidden" name="oldtriggerName" value="${pd.triggerName}" >
	<input type="hidden" name="oldtriggerGroup" value="${pd.triggerGroupName}" >
	<span>编辑Trigger</span>
	<hr/>
    <table id="table_report" class="table table-striped table-bordered table-hover">
	   <tr><td>cron</td><td><input type="text" name="cron" value="${pd.cron}"/></td></tr>
	   <tr><td>clazz</td><td><input type="text" name="clazz" value="${pd.clazz}"/></td></tr>
	   <tr><td>jobName</td><td><input type="text" name="jobName" value="${pd.jobName}"/></td></tr>
	   <tr><td>jobGroup</td><td><input type="text" name="jobGroupName" value="${pd.jobGroup}"/></td></tr>
	   <tr><td>triggerName</td><td><input type="text" name="triggerName" value="${pd.triggerName}"/></td></tr>
	   <tr><td>triggerGroupName</td><td><input type="text" name="triggerGroupName" value="${pd.triggerGroupName}"/></td></tr>
	   <tr>
	   <td></td>
	   <td>
			<button type="submit" style="border: 0;background-color: #428bca;">提交</button>
			<button class="cancel" style="border: 0;background-color: #fff;">返回</button>
	   </td>
	   </tr>
	</table>
  </form>
</body>
</html>