<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	#parse("comm/comm.vm")
    <title>编辑任务</title>
	<script>
    $(document).ready(function() {
    	$(".cancel").click(function(){
    		history.go(-1) ;
    	});
    });
    </script>
</head>
<body style="background: beige;" >
  <form action="quartzEdit.do" method="post">
	<input type="hidden" name="oldjobName" value="${cronJobInfo.jobName}" >
	<input type="hidden" name="oldjobGroup" value="${cronJobInfo.jobGroup}" >
	<input type="hidden" name="oldtriggerName" value="${cronJobInfo.triggerName}" >
	<input type="hidden" name="oldtriggerGroup" value="${cronJobInfo.triggerGroupName}" >
	<span>编辑Trigger</span>
	<hr/>
    <table id="table_report" class="table table-striped table-bordered table-hover">
	   <tr><td>cronExpression</td><td><input  type="text" name="cronExpression" value="${cronJobInfo.cronExpression}"/></td></tr>
	   <tr><td>jobClass</td><td><input readonly="readonly" type="text" name="jobClass" value="${cronJobInfo.jobClass}"/></td></tr>
	   <tr><td>jobName</td><td><input readonly="readonly" type="text" name="jobName" value="${cronJobInfo.jobName}"/></td></tr>
	   <tr><td>jobGroup</td><td><input readonly="readonly"  type="text" name="jobGroup" value="${cronJobInfo.jobGroup}"/></td></tr>
	   <tr><td>triggerName</td><td><input readonly="readonly" type="text" name="triggerName" value="${cronJobInfo.triggerName}"/></td></tr>
	   <tr><td>triggerGroupName</td><td><input readonly="readonly" type="text" name="triggerGroupName" value="${cronJobInfo.triggerGroupName}"/></td></tr>
	   <tr>
	   <td></td>
	   <td>
			<button type="submit" style="border: 0;background-color: #428bca;">提交</button>
			<button class="cancel" style="border: 0;background-color: #fff;">返回</button>
	   </td>
	   </tr>
	</table>
  </form>
</body>
</html>