<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	#parse("comm/comm.vm")
	#parse("comm/easyui.vm")
    <title>编辑任务</title>
	<script type="text/javascript" src="resource/js/quartz/editjob.js"></script>
</head>
<body>
	<div style="margin-bottom:10px">
		CronExpression:
		<input class="easyui-textbox" id="cronExpression"  name="cronExpression" value="${cronJobInfo.cronExpression}" style="width:100%;height:32px">
	</div>
	<div style="margin-bottom:10px">
		JobClass:
		<input class="easyui-textbox" id="jobClass"  name="jobClass" value="${cronJobInfo.jobClass}" style="width:100%;height:32px"  readonly="readonly">
	</div>
	<div style="margin-bottom:10px">
		Job Name:
		<input class="easyui-textbox" id="jobName" name="jobName" value="${cronJobInfo.jobName}" style="width:100%;height:32px" readonly="readonly">
	</div>
	<div style="margin-bottom:10px">
		Job Group:
		<input class="easyui-textbox" id="jobGroup" name="jobGroup" value="${cronJobInfo.jobGroup}" style="width:100%;height:32px" readonly="readonly">
	</div>
	<div style="margin-bottom:10px">
		Trigger Name:
		<input class="easyui-textbox" id="triggerName" name="triggerName" value="${cronJobInfo.triggerName}" style="width:100%;height:32px" readonly="readonly">
	</div>
	<div style="margin-bottom:10px">
		Trigger Group Name:
		<input class="easyui-textbox" id="triggerGroupName"  name="triggerGroupName" value="${cronJobInfo.triggerGroupName}" style="width:100%;height:32px" readonly="readonly">
	</div>
</body>
</html>