<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
	 #parse("comm/comm.vm")
	<script type="text/javascript" src="resource/js/index/index.js"></script>
</head>
<body style="overflow:auto;" oncontextmenu="return false;"> 
	<div>
		<h3>权限模块</h3>
        <div>
        	<p>用户ID：${SPRING_SECURITY_CONTEXT.authentication.principal.userId}</p>  
    		<p>用户名：${SPRING_SECURITY_CONTEXT.authentication.principal.username}</p>  
    		<p>用户姓名：${SPRING_SECURITY_CONTEXT.authentication.principal.name} </p>  
    		<p>拥有的权限：${SPRING_SECURITY_CONTEXT.authentication.principal.authorities}</p>
        </div>
			#if($security.hasAnyRole("AUTH_TO_INDEX"))
				<p>您能看到这行字，表示拥有AUTH_TO_INDEX权限</p>
			#end
        	#if(!$security.hasAnyRole("AUTH_SUPER"))
				<p>您能看到这行字，表示没有AUTH_SUPER权限</p>
        	#end
    	<div >
    		<button id="sendAjax" onclick="ajaxWithoutAuth()">测试权限不足的AJAX请求
            </button>
        </div>
        <div >
    		<form action="pageJumpWithoutAuth.do" method="post">  
    	      <input name="submit" type="submit" value="测试权限不足的页面跳转" />  
    	    </form>  
        </div>
    	<div >
    		<form action="logout.do" method="post">  
    	      <input name="submit" type="submit" value="登出" />  
    	    </form>  
        </div>
	</div>
	<div style="padding-top:10px">
        <h3>SPRINGMVC</h3>
		<div >
    		<form action="toSpringMVCDemo.do" method="post">  
    	      <input name="submit" type="submit" value="SPRING_MVC前后台交互DEMO" />  
    	    </form>  
		</div>
    </div>
	<div style="padding-top:10px">
		<h3>数据库</h3>
        <div >
    		<form action="toDatabaseDemo.do" method="post">  
    	      <input name="submit" type="submit" value="数据库访问DEMO" />  
    	    </form>  
        </div>
    </div>
	<div style="padding-top:10px">
        <h3>DATAGRID</h3>
		<div>
    		<form action="toDatagridDemo.do" method="post">  
    	      <input name="submit" type="submit" value="Datagrid列表DEMO" />  
    	    </form>  
		</div>
    </div>
	<div style="padding-top:10px">
		<h3>QUARTZ</h3>
		<div >
    		<form action="quartzListJob.do" method="post">  
    	      <input name="submit" type="submit" value="任务列表" />  
    	    </form>  
		</div>
    </div>
	<div style="padding-top:10px">
		<h3>WELCOME</h3>
        <div >
    		<form action="welcome.do" method="post">  
    	      <input name="submit" type="submit" value="welcome" />  
    	    </form>  
        </div>
    </div>
	<div style="padding-top:10px">
		<h3>jquery.dialog.js DEMO</h3>
        <div >
    		<form action="toJqueryDialogDemo" method="post">  
    	      <input name="submit" type="submit" value="jquery.dialog.js DEMO" />  
    	    </form>  
        </div>
    </div>
	<div style="padding-top:10px">
		<h3>HBASE</h3>
        <div >
    		<form action="toHbaseDemo" method="post">  
    	      <input name="submit" type="submit" value="HBASE测试" />  
    	    </form>  
        </div>
    </div>
	
	<div>
    	<button id="testHession" onclick="testHession()">测试Hession
        </button>
    </div>
	
	<div>
    	<button id="testNoHession" onclick="testNoHession()">测试testNoHession
        </button>
    </div>
	
	<div>
    	<button id="testHessionDatabase" onclick="testHessionDatabase()">测试testHessionDatabase
        </button>
    </div>
	
</body> 
</html>
