<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
                        http://www.springframework.org/schema/security   
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http>
		<!-- 不拦截login.jsp -->
		<intercept-url pattern="/toLogin.do" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/queryAllWelcome.do" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!--仅拦截到manager下面的内容，具备access对应权限的 -->
		<intercept-url pattern="/*" access="ROLE_TO_INDEX" />
		<!-- 登录表单设置 -->
		<form-login login-page="/toLogin.do" login-processing-url="/login.do"
			default-target-url="/toIndex.do" username-parameter="username"
			password-parameter="password" />
		<!-- authentication-failure-url="/welcome.do" -->
		<!-- 登出操作后跳转到该页面 -->
		<!-- <logout logout-success-url="/welcome.do" delete-cookies="JSESSIONID" 
			/> -->
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="defaultUserDetailsService">
		</authentication-provider>
	</authentication-manager>
</beans:beans>  